<div class="form-box">
  <h2><%= supplier._id ? "Sửa nhà cung cấp" : "Thêm nhà cung cấp" %></h2>
  <form method="post" action="<%= supplier._id ? '/suppliers/' + supplier._id + '/edit' : '/suppliers/new' %>">
    <label>Tên:</label>
    <input type="text" name="name" value="<%= supplier.name || '' %>" required><br>

    <label>Địa chỉ:</label>
    <input type="text" name="address" value="<%= supplier.address || '' %>"><br>

    <label>SĐT:</label>
    <input type="text" name="phone" value="<%= supplier.phone || '' %>"><br>

    <button type="submit">Lưu</button>
  </form>
</div>
